{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<form class="mx-auto mt-5" style="width:500px;" method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3" style="color:#00497c;">
            Vous êtes connecté(e) comme {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Me déconnecter</a>
        </div>
    {% endif %}


    <label class="mx-auto" style="margin-bottom:15px;color:#00497c;" for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" style="margin-bottom:15px" autocomplete="email" required autofocus>
    <label for="inputPassword" style="margin-bottom:15px;color:#00497c;">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" style="margin-bottom:15px" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
    <div class="container text-center mt-5">
    <button class="btn" style="width: 200px;border:solid #384050 1px;background-color:#384050; color:#f1f8fc;" type="submit" aria-label="Connexion">
        Connexion
    </button>
    </div>
</form>
{% endblock %}
