{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
<main  class="container mx-auto p-2 text-center" style="width: 90%;border:solid black 1px;">

  <section class="container mx-auto p-2 text-center" style="width: 80%;border:solid black 1px;margin-bottom:30px;">
    <h1>Bonjour {{ admin.firstName }} {{ admin.lastName}}</h1>
    <a href="{{path('app_admin_learnings')}}" class="btn" style="width: 200px;border:solid black 1px;" aria-label="Formations">Formations</a>
  </section>

  <section class="container mx-auto p-2 text-center" style="width: 80%;border:solid black 1px;margin-bottom:30px;">
    <h2>Modifier le cursus {{modifiedCursus.level}} {{modifiedCursus.name}}</h2>
    
    {{ form_start(modifyCursusForm) }}
    <div  class="row">
 
      <div class="col-md-4">
            {{ form_row(modifyCursusForm.name) }}
      </div>
      <div class="col-md-4">
            {{ form_row(modifyCursusForm.level) }}
      </div>
      <div class="col-md-4">
            {{ form_row(modifyCursusForm.price) }}
      </div>
      <div class="col-md-4">
            {{ form_row(modifyCursusForm.thema) }}
      </div>
      <div class="col-md-4">
            {{ form_row(modifyCursusForm.nbLessons) }}
      </div>
      <div class="col-md-4">
            <button type="submit" class="btn" style="width: 200px;border:solid black 1px;" aria-label="Modifier">Modifier</button>
      </div>
    </div>
    {{ form_end(modifyCursusForm) }}
  </section>

  <section class="container mx-auto p-2 text-center" style="width: 80%;border:solid black 1px;margin-bottom:30px;"">
    <h2>Les leçons de ce cursus</h2>
        <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Numéro</th>
            <th scope="col">Prix</th>
            <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lesson in lessons|sort((a, b) => a.number <=> b.number) %}
            <tr>
            <th scope="row">{{lesson.id}}</th>
            <th scope="row">{{lesson.name}}</th>
            <th scope="row">{{lesson.number}}</th>
            <th scope="row">{{lesson.price}}</th>
            <th scope="row">
                <a href="{{path('app_admin_lesson_update', {id:lesson.id})}}" class="btn" style="width: 100px;border:solid black 1px;" aria-label="Modifier">Modifier</a>
                <a href="{{path('app_admin_lesson_delete', {id:lesson.id})}}" class="btn" style="width: 100px;border:solid black 1px;" aria-label="Supprimer">Supprimer</a>
                
            </th>
 
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </section>

    <section class="container mx-auto p-2 text-center" style="width: 80%;border:solid black 1px;margin-bottom:10px;">
    <h2>Ajouter une leçon</h2>
    
    {{ form_start(newLessonForm) }}
    <div  class="row">
      <div class="col-md-4">
            {{ form_row(newLessonForm.name) }}
      </div>
      <div class="col-md-4">
            {{ form_row(newLessonForm.number) }}
      </div>
      <div class="col-md-4">
            {{ form_row(newLessonForm.price) }}
      </div>
      <div class="col-md-4">
            {{ form_row(newLessonForm.text) }}
      </div>
      <div class="col-md-4">
            {{ form_row(newLessonForm.video) }}
      </div>
      <div class="col-md-4">
            {{ form_row(newLessonForm.cursus)}}
      </div>
      
      <div class="col-md-4">
            <button type="submit" class="btn" style="width: 200px;border:solid black 1px;" aria-label="Ajouter">Ajouter</button>
      </div>
      
      
    </div>
    {{ form_end(newLessonForm) }}
    </section>
</main>
{% endblock %}
