{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
<main  class="container mx-auto p-2 text-center" style="width: 90%;border:solid black 1px;">


    <h1>Bonjour {{ user.firstName }} {{ user.lastName}}</h1>
  
        
            <a href="{{path('app_admin_users')}}" class="btn" style="width: 200px;border:solid black 1px;" aria-label="Utilisateurs">Utilisateurs</a>
            <a href="{{path('app_admin_learnings')}}" class="btn" style="width: 200px;border:solid black 1px;" aria-label="Formations">Formations</a>
            <a href="{{path('app_admin_orders')}}" class="btn" style="width: 200px;border:solid black 1px;" aria-label="Commandes">Commandes</a>
   

    
</main>
{% endblock %}
