{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
<main class="container mx-auto p-2 text-center" style="width: 90%;">

<section class=" container text-center mt-5 mb-5" style="color:#00497c;">
    <a href="{{path('app_admin')}}" class="btn" style="width: 200px;border:solid #384050 1px;background-color:#384050; color:#f1f8fc;" aria-label="Back Office">Back office</a>
    
</section> 

<div class="container mx-auto p-2 text-center mb-5" style="width: 80%;margin-bottom:10px;">
    <h2 class="mb-5 text-decoration-underline">Suivi des commandes</h2>
        <table class="table mb-5">
        <thead>
            <tr>
            <th scope="col" style="color:#82b864;font-size:20px;width:25%;">Année</th>
            <th scope="col" style="color:#82b864;font-size:20px;width:25%;">Mois</th>
            <th scope="col" style="color:#82b864;font-size:20px;width:25%;">CA</th>
            <th scope="col" style="color:#82b864;font-size:20px;width:25%;">Nombre de commandes</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
            <th scope="row" style="color:#384050;">{{ order.year }}</th>
            <th scope="row" style="color:#384050;">{{ order.month }}</th>
            <th scope="row" style="color:#384050;">{{ order.total }} €</th>
            <th scope="row" style="color:#384050;">{{order.nb_orders}}</th>
           
 
            </tr>
        {% endfor %}
        </tbody>
        </table>

</div>

    

<div class="container mx-auto p-2 text-center mb-5" style="width: 80%;margin-bottom:10px;">
    <h2 class="mb-5 text-decoration-underline">Répartition des formations vendues</h2>
        <table class="table mb-5">
        <thead>
            <tr>
            <th scope="col" style="color:#82b864;font-size:20px;width:20%;">Année</th>
            <th scope="col" style="color:#82b864;font-size:20px;width:20%;">Mois</th>
            <th scope="col" style="color:#82b864;font-size:20px;width:40%;">Formation</th>
            <th scope="col" style="color:#82b864;font-size:20px;width:20%;">Nombre d'achat</th>
            </tr>
        </thead>
        <tbody>
        {% for distributionLearning in distributionLearnings|sort((a, b) => b.nb <=> a.nb) %}
            <tr>
            <th scope="row" style="color:#384050;">{{ distributionLearning.year }}</th>
            <th scope="row" style="color:#384050;">{{ distributionLearning.month }}</th>
            <th scope="row" style="color:#384050;">{{ distributionLearning.learning }}</th>
            <th scope="row" style="color:#384050;">{{distributionLearning.nb}}</th>
           
 
            </tr>
        {% endfor %}
        </tbody>
        </table>

</div>

   
            
   

    
</main>
{% endblock %}
