{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
<main  class="container mx-auto p-2 text-center" style="width: 90%;border:solid black 1px;">

    <section class="container mx-auto p-2 text-center" style="width: 80%;border:solid black 1px;margin-bottom:30px;">
    <h1>Bonjour {{ admin.firstName }} {{ admin.lastName}}</h1>
    <a href="{{path('app_admin')}}" class="btn" style="width: 200px;border:solid black 1px;" aria-label="Back Office">Back office</a>
    <a href="#cursus" class="btn" style="width: 200px;border:solid black 1px;" aria-label="Cursus">Les cursus</a>
    <a href="#lessons" class="btn" style="width: 200px;border:solid black 1px;" aria-label="Leçons">Les leçons</a>
    <a href="#themes" class="btn" style="width: 200px;border:solid black 1px;" aria-label="Thèmes">Les thèmes</a>
    
    </section>

    <section class="container mx-auto p-2 text-center" style="width: 80%;border:solid black 1px;margin-bottom:10px;"">
    <h2 id="cursus">Les cursus</h2>
    {{ form_start(newCursusForm) }}
    <div  class="row">
 
            <div class="col-md-4">
            {{ form_row(newCursusForm.name) }}
            </div>
            <div class="col-md-4">
            {{ form_row(newCursusForm.level) }}
            </div>
            <div class="col-md-4">
            {{ form_row(newCursusForm.price) }}
            </div>
            <div class="col-md-4">
            {{ form_row(newCursusForm.thema) }}
            </div>
            <div class="col-md-4">
            <button type="submit" class="btn" style="width: 200px;border:solid black 1px;" aria-label="Ajouter">Ajouter</button>
            </div>
    </div>
    {{ form_end(newCursusForm) }}
    </section>

    <section class="container mx-auto p-2 text-center" style="width: 80%;border:solid black 1px;margin-bottom:30px;"">
    
        <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Prix</th>
            <th scope="col">Thème</th>
            <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cursus in cursuses|sort((a, b) => a.thema.name <=> b.thema.name ?: a.name <=> b.name) %}
            <tr>
            <th scope="row">{{cursus.id}}</th>
            <th scope="row">Cursus {{cursus.level}} {{cursus.name}}</th>
            <th scope="row">{{cursus.price}}</th>
            <th scope="row">{{cursus.thema.name}}</th>
            <th scope="row">
                <a href="{{path('app_admin_cursus_update', {id:cursus.id})}}" class="btn" style="width: 100px;border:solid black 1px;" aria-label="Modifier">Modifier</a>
                <a href="{{path('app_admin_cursus_delete', {id:cursus.id})}}" class="btn" style="width: 100px;border:solid black 1px;" aria-label="Supprimer">Supprimer</a>
                
            </th>
 
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </section>



    <section class="container mx-auto p-2 text-center" style="width: 80%;border:solid black 1px;margin-bottom:10px;">
    <h2  id="lessons">Les leçons</h2>
    
    {{ form_start(newLessonForm) }}
    <div  class="row">
      <div class="col-md-4">
            {{ form_row(newLessonForm.name) }}
      </div>
      <div class="col-md-4">
            {{ form_row(newLessonForm.number) }}
      </div>
      <div class="col-md-4">
            {{ form_row(newLessonForm.price) }}
      </div>
      <div class="col-md-4">
            {{ form_row(newLessonForm.text) }}
      </div>
      <div class="col-md-4">
            {{ form_row(newLessonForm.video) }}
      </div>
      
      <div class="col-md-4">
            {{ form_row(newLessonForm.cursus) }}
      </div>
      <div class="col-md-4">
            <button type="submit" class="btn" style="width: 200px;border:solid black 1px;" aria-label="Ajouter">Ajouter</button>
      </div>
      
      
    </div>
    {{ form_end(newLessonForm) }}
    </section>

    <section class="container mx-auto p-2 text-center" style="width: 80%;border:solid black 1px;margin-bottom:30px;"">
    
        <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Numéro</th>
            <th scope="col">Prix</th>
            <th scope="col">Cursus</th>
            <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for lesson in lessons|sort((a, b) => a.cursus.name <=> b.cursus.name ?: a.number <=> b.number) %}
            <tr>
            <th scope="row">{{lesson.id}}</th>
            <th scope="row">{{lesson.name}}</th>
            <th scope="row">{{lesson.number}}</th>
            <th scope="row">{{lesson.price}}</th>
            <th scope="row">{{lesson.cursus.name}}</th>
            <th scope="row">
                <a href="{{path('app_admin_lesson_update', {id:lesson.id})}}" class="btn" style="width: 100px;border:solid black 1px;" aria-label="Modifier">Modifier</a>
                <a href="{{path('app_admin_lesson_delete', {id:lesson.id})}}" class="btn" style="width: 100px;border:solid black 1px;" aria-label="Supprimer">Supprimer</a>
                
            </th>
 
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </section>
    


    
    <section class="container mx-auto p-2 text-center" style="width: 80%;border:solid black 1px;margin-bottom:10px;"">
    <h2 id="themes">Les thèmes</h2>
    
    {{ form_start(newThemaForm) }}
    <div  class="row">
 
            <div class="col-md-4">
            {{ form_row(newThemaForm.name) }}
            </div>
            <div class="col-md-4">
            <button type="submit" class="btn" style="width: 200px;border:solid black 1px;" aria-label="Ajouter">Ajouter</button>
            </div>
    </div>
     {{ form_end(newThemaForm) }}
   </section>

    <section class="container mx-auto p-2 text-center" style="width: 80%;border:solid black 1px;margin-bottom:30px;"">
    
        <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for thema in themas|sort((a, b) => a.name <=> b.name) %}
            <tr>
            <th scope="row">{{thema.id}}</th>
            <th scope="row">{{thema.name}}</th>
            <th scope="row">
                <a href="{{path('app_admin_thema_update', {id:thema.id})}}" class="btn" style="width: 100px;border:solid black 1px;" aria-label="Modifier">Modifier</a>
                <a href="{{path('app_admin_thema_delete', {id:thema.id})}}" class="btn" style="width: 100px;border:solid black 1px;" aria-label="Supprimer">Supprimer</a>
                
            </th>
 
            </tr>
        {% endfor %}
        </tbody>
        </table>



        

    </section>

    
            
   

    
</main>
{% endblock %}
