{% extends 'base.html.twig' %}

{% block title %}Hello BoughtLessonController!{% endblock %}

{% block body %}


<main  class="container mx-auto p-2 text-center" style="width: 90%;border:solid black 1px;">
   
   {% for lessonDisplay in lessonDisplays %}
   <h2>Cursus {{ lessonDisplay.level }} {{ lessonDisplay.cursusname }}</h2>
   <p>Leçon n°{{ lessonDisplay.number }} sur {{ lessonDisplay.nbLessons }}</p>
   <h1>{{ lessonDisplay.name }}</h1>
   <p class="mx-auto p-2 text-center" style="width: 75%;border:solid black 1px;">{{ lessonDisplay.text }}</p>
   {% if lessonDisplay.video is null %}
   <p>Pas de video</p>
   {% else %}
   <div>
   <iframe width="560" height="315" src="{{lessonDisplay.video}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
   {% endif %}
   </div>
   {% endfor %}

   {% for lesson in lessons %}
   <div>
   {% if lesson.isValidated == false %}
   <a href="{{path('app_bought_lesson_validate', {id:lesson.id})}}" class="btn" style="width: 200px;border:solid black 1px;">Valider la leçon</a>
   {% else %}
   <a href="#" class="btn" style="width: 200px;border:solid black 1px;">Déjà validé!</a>
   {% endif %}
   </div>
   {% endfor %}
</main>
{% endblock %}
