<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Knowledge Learning - {% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{asset('./img/favicon.png')}}">
        
        <link rel="stylesheet" href="{{asset('./assets/css/bootstrap.min.css')}}">
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}
        <link rel="stylesheet" href="{{asset('./assets/css/styles.css')}}">

        <script src="{{asset('./assets/js/bootstrap.bundle.js')}}" defer></script>
        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
        <script src="{{asset('./assets/js/scripts.js')}}" defer></script>
    </head>
    <body>
        {% if app.user and app.user.isActivated == false %}
        <p>Votre compte n'est pas activé. Les achats seront accessibles dès que vous aurez passé cette étape. Pour renvoyer le lien d'activation, cliquez <a href="{{path('app_activate_resendlink')}}">ici</a></p>
        {% endif %}
        {% include "_partials/_flash.html.twig" %}
        {% block body %}{% endblock %}
    </body>
</html>
