{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block body %}
{% if app.user%}
{% else %}
<p class="text-center border border-warning">Pour effectuer des achats, vous devez créer un compte.</p>
{% endif %}

<section class="container mx-auto p-2 text-center" style="width: 80%;border:solid black 1px;margin-bottom:30px;">
    {% if app.user %}
    <h1>Bonjour {{ user.firstName }} {{ user.lastName}}</h1>
    {% endif %}
    <a href="{{path('app_learning')}}" class="btn" style="width: 200px;border:solid black 1px;" aria-label="Boutique">Boutique</a>
</section>

<section class="container mx-auto p-2 text-center" style="width: 80%;border:solid black 1px;margin-bottom:30px;">
    <h2 style="margin-bottom:30px;">Nos formations pour le thème: {{thema.name}} </h2>
    <div class="row mx-auto gy-5">
        {% for cursus in cursuses|sort((a, b) => a.name <=> b.name) %}
            <div class="col-md-4 d-flex justify-content-center">
                    <div class="card" style="width: 18rem; height: 10rem">
                    <div class="card-body">
                        <h5 class="card-title">Cursus {{cursus.level}} {{cursus.name}}</h5>
                        <p>{{cursus.nbLessons}} leçons</p>
                        <a href="{{path('app_learning_lesson', {id:cursus.id})}}" class="btn" style="width: 200px;border:solid black 1px;" >Consulter</a>
                    </div>
                    </div>
            </div>
        {% endfor %}

    </div>

    
    

</section>
{% endblock %}
